---
default_install_hook_types: ["pre-commit", "pre-push"]
default_stages: ["pre-commit"]
exclude: ^(gradlew.*)$
minimum_pre_commit_version: 4.0.0
repos:
  - repo: local
    hooks:
      - id: build
        name: Build
        entry: make build
        language: system
        pass_filenames: false
        verbose: true
      - id: test
        name: Unit tests
        entry: make test
        language: system
        pass_filenames: false
        verbose: true
        stages: ["pre-push"]
  # Security
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        stages: ["pre-commit", "pre-push"]
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.30.0
    hooks:
      - id: gitleaks
        stages: ["pre-commit", "pre-push"]
  - repo: https://github.com/fabasoad/pre-commit-snyk
    rev: v1.0.2
    hooks:
      - id: snyk-test
        args:
          - --snyk-args=--all-projects --severity-threshold=low
          - --hook-args=--log-level debug
        stages: ["pre-push"]
  - repo: https://github.com/fabasoad/pre-commit-grype
    rev: v0.6.3
    hooks:
      - id: grype-dir
        args:
          - --grype-args=--by-cve --fail-on=low
          - --hook-args=--log-level debug
        stages: ["pre-push"]
  - repo: https://github.com/fabasoad/pre-commit-checkstyle
    rev: v0.1.7
    hooks:
      - id: checkstyle-google
        args:
          - --checkstyle-args=--exclude=.idea --exclude=.gradle
          - --hook-args=--log-level debug
        stages: ["pre-push"]
  - repo: https://github.com/google/osv-scanner
    rev: v2.3.1
    hooks:
      - id: osv-scanner
        args:
          - --lockfile=gradle.lockfile
        verbose: true
        stages: ["pre-push"]
  # Java
  - repo: https://github.com/dustinsand/pre-commit-jvm
    rev: v0.11.0
    hooks:
      - id: pmd
        args: ['-R', 'java-basic,java-empty,java-imports,java-unnecessary,java-unusedcode', '-dir', '.']
        exclude: /test/
  - repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
    rev: v2.15.0
    hooks:
      - id: pretty-format-java
        args: [--autofix]
  # Markdown
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.47.0
    hooks:
      - id: markdownlint
  # Yaml
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1
    hooks:
      - id: yamllint
  # GitHub Actions
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.9
    hooks:
      - id: actionlint
        args: ["-pyflakes="]
        stages: ["pre-commit"]
  # Other
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-json
      - id: detect-private-key
        stages: ["pre-commit", "pre-push"]
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: ["--fix=lf"]
      - id: no-commit-to-branch
      - id: trailing-whitespace
